
checker checkpatch

# Older kernels fail on the SPDX license tag which now uses //:
pervasive C99_COMMENTS

# The use of printk here is the whole purpose of a test:
except PREFER_PR_LEVEL self.c

checker sparse

# No good way to resolve all these without adding burden to test writers:
pervasive DECL

# sparse produce errors for this from slab.h in 4.20:
except DUBIOUS_EXPR self.c context.c
