checker checkpatch

# We deliberately allow these:
pervasive LINUX_VERSION_CODE

# Older kernels fail on the SPDX license tag which now uses //:
pervasive C99_COMMENTS

# We allow this one as it catches all the LINUX_VERSION_CODE comparisons
# and swaps them, which does not really feel natural, so we are willing to take the cost:
pervasive CONSTANT_COMPARISON

# Exception - detailed statement list needed for logging:
except PREFER_PR_LEVEL ktf_test.c
except PRINTK_WITHOUT_KERN_LEVEL ktf_test.c

# Exception - checkpatch gets confused by the macro used to define the symbol:
except EXPORT_SYMBOL ktf_cov.c

# Exception - no good way to satisfy checkpatch for this asm()?
except OPEN_ENDED_LINE ktf_override.c

# Fails on bw compat code to avoid itself:
except NEEDLESS_IF ktf_cov.c

checker smatch

# This looks like a false hit:
except UNREACHABLE ktf_test.c

checker sparse

# sparse does not get the conditional lock/unlock:
except CONTEXT ktf_context.c

# sparse does not like our hack to overwrite the current_kprobe in
# kernels older than 4.19.0
except ADDRESS_SPACE ktf_override.c
except ARG_TYPE_MOD ktf_override.c

# sparse produce errors for this from slab.h in 4.20:
except DUBIOUS_EXPR ktf_test.c ktf_cov.c ktf_netctx.c ktf_context.c
