
checker checkpatch

# Older kernels fail on the SPDX license tag which now uses //:
pervasive C99_COMMENTS

# The use of printk here is part of the purpose of the examples:
except PREFER_PR_LEVEL h4.c kgdemo.c

checker sparse

# No good way to resolve all these without adding burden to test writers:
pervasive DECL

# sparse produce errors for this from slab.h in 4.20:
except DUBIOUS_EXPR h3.c
